@page
@model Updating_with_Database.Pages.TableViewModel
@using System.Data.SqlClient;
@using MySql.Data.MySqlClient;
@using System.Collections.ObjectModel;
@{
    ViewData["Title"] = "TableView";
}
<script type="text/javascript">
    function CallUpdate(passid, passvalue) {
        $.ajax({
            url: 'TableView?handler=Increment',
            type: 'POST',
            data: {
                'id': passid,
                'value': passvalue
            },
            dataType: "Json",
            contentType: "application/x-www-form-urlencoded"

        }).done(function (data) {
            alert(data);
            location.reload(true);
        });
    }
</script>

<h1>TableView</h1>
<title>Some Arbitrary updating Values</title>
<table class="table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Arbitrary updating number</th>
    </tr>
    @foreach(var row in Model.OutputList)
        {
        <tr>
            <th>
                @row.Item1
            </th>
            <th>
                @row.Item2
            </th>
            <th>
                @row.Item3
            </th>
            <th>
                <button class="btn-dark" onclick=CallUpdate(@row.Item1,@row.Item3)> 
                    Add one
                </button>
            </th>

        </tr>
        }


</table>

<footer>Server Connection Status = @Model.Check </footer>